# Dependencies
node_modules/

# Next.js
.next/
out/

# Firebase CLI cache
.firebase/

# Env & secrets
.env*
!.env.example
serviceAccount*.json
firebase-adminsdk-*.json
*.secret.json

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/
